.homeContainer
    @include set-position(absolute, 0,0,0,0)
    margin-top: 7rem
    @include width-height(100%,100%)
    min-height: 89vh
    align-items: stretch
    background-position: center
    background-size: cover
    z-index: -2
